[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
nest-asyncio = "*"
pydantic = "==1.*"

[dev-packages]
jupyterlab = "*"
nbconvert = "*"
openapi-python-generator = "*"
setuptools = "*"

[requires]
python_version = "3.11"
